# Xcode
build/*
!default.xcworkspace
!project.xcworkspace
womm.xcodeproj/project.xcworkspace/xcuserdata
womm.xcodeproj/xcuserdata
womm.xcworkspace/xcuserdata
womm.xcworkspace/xcshareddata/womm.xccheckout
# Artifacts
*.ipa
*.tar.gz
*.out
*.dSYM.zip
# Pods
Pods
.idea

# tests and coverage
tests
coverage.zip
compile_commands.json
coverage.info
output
integration/tmp

# OS X
.DS_Store